body{
    background-color: black;
    color: white;

    .cabecalho{
    background-color: #02062b;
    width: 92%;
    padding: 4%;
    position: absolute;
    top: 0px;
    left: 1px;
    }

    .titulo{
     font-size: 25px;
     position: absolute;
     top: 10px;
     right: 45%;
    }

    .titulo1{
     position: absolute;
     top: 125px;
     left: 45%;
     scale: 3;
    }

    .AJornada{
     position: absolute;
     top: 200px;
    }
}
